@inject IStringLocalizer<SharedResources> Localizer
@using TriangleProject.Shared.Models.Games

<table class="table">
    <thead>
        <tr>
            @foreach (var property in typeof(Games).GetProperties())
                {
                    <th>@Localizer[property.Name]</th>
                }

        </tr>
    </thead>
 <tbody>
        @foreach (var item in GamesList)
        {
            <tr>
    @foreach (var property in typeof(Games).GetProperties())
                {
                    <td>

                        @switch (property.Name)
                        {
                            case "GameDelete":
                                <button @onclick="() => DeleteGame(item) ">
                                    @Localizer[property.Name]
                                </button>
                                break;
                            case "GamePublish":
                                <input type="checkbox" checked="@property.GetValue(item)" />
                                break;
                            case "GameEdit":
                                <button @onclick="() => EditGame(item)">
                                    @Localizer[property.Name]
                                </button>
                                break;
                            case "GameCode":
                                @property.GetValue(item)
                                break;

                            case "GameName":
                                @property.GetValue(item)
                                break;
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public List<Games> GamesList { get; set; }

    [Parameter]
    public EventCallback<Games> OnDeleteClicked { get; set; }

    private async Task DeleteGame(Games game)
    {
        await OnDeleteClicked.InvokeAsync(game);
    }
    private async Task EditGame(Games game)
    {
        await OnDeleteClicked.InvokeAsync(game);
    }
}